* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box1 {
  background: lightsalmon;
}
.box2 {
  background: lightskyblue;
}
.box3 {
  background: lightgreen;
}

.main {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

/* .box3 {
  grid-column-start: 1;
  grid-column-end: 3;
} */

.box1 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.box2 {
  grid-row-start: 1;
  grid-row-end: 3;
}
